@(contactForm: Form[views.formdata.ContactFormData], telephoneTypeMap: Map[String, Boolean], dietMap: Map[String, Boolean])

@import bootstrap3._
@import helper._

@Main("New Contact") {
  <div class="container">
  @form(routes.Application.postContact(), 'class -> "form-horizontal") {

    @hidden(contactForm("id"))

    @text(contactForm("firstName"),
      label = "First",
      placeholder = "First Name",
      help = "")

    @text(contactForm("lastName"),
      label = "Last",
      placeholder = "Last Name",
      help = "")

    @telephone(contactForm("tel"),
      contactForm("telType"),
      isMultiple = false,
      optionMap = telephoneTypeMap)

    @checkboxes(contactForm("dietTypes"),
      label="Diet",
      checkboxMap = dietMap)

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button id="submit" type="submit" class="btn btn-default">Add</button>
      </div>
    </div>
  }
  </div>
}